# src/OC/PlatformBundle/Resources/config/routing.yml

#app_home:
#    path:      /home
#    defaults:  { _controller: AppBundle:Home:index}

app_list:
    path:      /list
    defaults:  { _controller: AppBundle:Home:list}

#app_test:
#    path:      /test
#    defaults:  { _controller: AppBundle:Home:test}

#app_campaigns_index:
#    path:      /campaign
#    defaults:  { _controller: AppBundle:Campaign:index}

#app_campaign_clients_list:
#    path:      /campaign/{campaign_id}
#    defaults:  { _controller: AppBundle:Campaign:viewCampaignClientsList}

#app_campaign_client:
#    path:      /campaign/{campaign_id}/{client_id}
#    defaults:  { _controller: AppBundle:Campaign:viewCampaignClient}

#app_campaign_send_email:
#    path:      /campaign_send_email/{recipient_id}
#    defaults:  { _controller: AppBundle:Campaign:CampaignSendEmail}

app_kpi_week:
    path:      /kpi/w/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:kpiWeek, user_id: 0}

app_kpi_month:
    path:      /kpi/m/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:kpi, user_id: 0}

app_kpi_ytd:
    path:      /kpi/ytd/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:kpi, user_id: 0}

app_kpi_fid:
    path:      /kpi/fid/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:kpi, user_id: 0}

app_kpi_planning:
    path:      /kpi/planning/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:kpi, user_id: 0}

app_kpi_faq:
    path:      /kpi/faq/{user_actuel}/{user_id}
    defaults:  { _controller: AppBundle:Kpi:faq, user_id: 0}

# redirecting the root
root:
    path: /
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: /admin/login
        permanent: true


#test AJAX
ajax_filter:
    path:    /ajax_filter/{user_actuel}/{user_id}/{scope}/{week}/{month}/{year}
    defaults:  { _controller: AppBundle:Kpi:ajaxfilter}